h1 {
    text-align: center;
    font-size: 45px;
}

body { 
    text-decoration: none;
}

p,
h4,
h2 {

    font-family: "Alice", serif;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;

}

h2 {
    font-size: 30px;
}

p,
h4,
h2,
body {
    font-family: "Alice", serif;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.about-heading,
.mission-statement {
    padding: 40px 20px;
}

ul  {
    list-style-type: disc;
    max-width: 800px;
    margin: 20px auto;
    padding-left: 60px;
    text-align: left;
    background-color: #cae1ff;
}

ul li a {
    margin: 12px 0;
    font-family: "Alice", serif;
    line-height: 1.6;
    font-size: 18px;
    background-color: #cae1ff;
}

.footer {
    background: #cae1ff;
    text-align: left;
    padding: 30px 70px;
}

.footer p {
    text-align: left;
}
