.burger-menu {
    margin: 0; /* Remove extra margin */
    position: sticky; /* Make it sticky */
    bottom: 0; /* Make it reach the bottom */
    border: none; /* Remove black borders */
}

button {
    border: none; /* Remove borders around buttons */
    text-align: left; /* Left-align buttons */
}

.comeUnitySpace-title {
    margin-top: 0; /* Remove top margin on title */
}

.container {
    width: 280px; /* Decrease width from 350px to 280px */
}

.homepage {
    background-color: #A0D3E8; /* Change background color for homepage to a different shade of light blue */
    position: absolute; /* Maintain at top left */
    top: 0;
    left: 0;
}